<?php

ConfigPanel::$scripts['agent']['mariadb']['parameters']=array('--password=password');

ConfigPanel::$scripts['agent']['php']['parameters']=array('--conf_to_copy=/home/spanel/tmp/spanel.conf');

?>
